@charset "UTF-8";
/* CSS Document */

html {
  background-color: #84BAFF;	
}
body {
  text-align: center;	
}
.imglink {
  width: 800px;
  height: 200px;	
}
#slidy-container { 
  width: 70%; margin: 0 auto; overflow: hidden;
}
